.clip {
  display: block;
  overflow: hidden;
}

.eyebrowWrap {
  margin-bottom: var(--space-3xl);
}

.eyebrow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: var(--color-text-secondary);
  letter-spacing: var(--tracking-tight);
}

.eyebrowRightMobile {
  display: none;
}

.eyebrowRightDesktop {
  display: inline;
}

.headlineLine {
  display: block;
}

.headlineMobile {
  display: none;
  font-size: clamp(2rem, calc(1.62rem + 4vw), 4rem);
  font-weight: var(--weight-semibold)
}

.headlineDesktop {
  display: block;
  font-size: clamp(2.5rem, calc(1.62rem + 3.76vw), 5rem);
  font-weight: var(--weight-semibold);
  letter-spacing: -.08em;
}

.subParagraph {
  margin-top: var(--space-2xl);
  color: var(--color-text-primary);
  max-width: 32rem;
}

.flush {
  padding-top: 0;
}

@media (max-width: 767px) {
  .headlineMobile {
    display: block;
  }

  .headlineDesktop {
    display: none;
  }

  .subParagraph {
    max-width: none;
  }
}

@media (max-width: 480px) {
  .headlineMobile {
    font-size: var(--font-h3);
  }
}
