.header {
  width: 100%;
  padding: var(--space-m) 0;
}

.default {
  position: relative;
  background: var(--color-bg-primary);
  z-index: var(--z-nav);
}

.overlay {
  position: absolute;
  inset: 0 auto auto 0;
  width: 100%;
  background: transparent;
  z-index: var(--z-nav);
}